@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

body {
    background-color: lightslategray;
}

h1 { 
    font-size: 100px;
    text-align: center;
    color: #fff;
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 5px;
    margin: 0;
}

img {
    width: 25px;
}

button {
    background-color: white;
    border: 1px;
}

input {
    border: 1px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.input-task-container {
    display:flex;
    justify-content: center;
}

.task {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

